# 阿里云账号 AK/SK
ALIBABA_CLOUD_ACCESS_KEY_ID=your_ak
ALIBABA_CLOUD_ACCESS_KEY_SECRET=your_sk
ALIBABA_CLOUD_ACCOUNT_ID=your_main_uid # 请使用主账号 ID, 不要使用2xx开头的子账号 ID
AGENTRUN_ACCOUNT_ID=your_main_uid # 请使用主账号 ID, 不要使用2xx开头的子账号 ID
ALIBABA_CLOUD_REGION=cn-hangzhou

# code interpreter sandbox 模板的名称，可以在 https://functionai.console.aliyun.com/cn-hangzhou/agent/runtime/sandbox 控制台创建
TEMPLATE_NAME=sandbox-your-template-name
